@font-face {
    font-family: 'MonoplexKRWideNerd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-widenerd@1.0/MonoplexKRWideNerd-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}